* {
    font-family: Arial;
}

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
}


.container {
    width: 100%;
    display: flex;
    display: block;
    margin: 0px auto;
}

.todo-app {
    width: 100%;
    max-width: 550px;
    background: white ;
    margin: 50px auto 20px;
    padding: 40px 30px 70px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px ;
}

.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

ul {
    padding-left: 0px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 17px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url("assets/checkbox_unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url("assets/checkbox_checked.png");
}

ul li span {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}